* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-heading: 'Montserrat', sans-serif;
    --ff-title: 'Fraunces', serif;

    
    --fc-texting: hsl(228, 12%, 48%);
    --bg-primary: hsl(30, 38%, 92%);
    --bg-button: hsl(158, 36%, 37%);

}

body {
    background-color: var(--bg-primary);
}

h3 {
    color: var(--fc-texting);
    font-family: var(--ff-heading);
    letter-spacing: 0.5rem;
    font-size: 15px;
    margin-top: 2rem;
}


h1 {
    color: black;
    font-family: var(--ff-title);
    font-size: 3rem;
    align-items: center;
    margin-top: 3rem;
    margin-right: 2rem;
}

p {
    color: var(--fc-texting);
    font-family: var(--ff-heading); 
    margin-top: 3rem;  
    margin-right: 2rem;
    font-size: 14px;
    align-items: center;
}

h2 {
    color: var(--bg-button);
    font-family: var(--ff-title);
    margin-top: 3rem;
    font-size: 2.5rem;
    align-items: center;
}

span {
    color:var(--fc-texting);
    text-decoration: line-through;
    font-size: 10px;
    margin-left: 2rem;

}

.card2 h3, h2, h1, p{
    margin-left: 1rem;
}



#addCart {
    background: var(--bg-button);
    color: white;
    border: none;
    padding: 14px 70px 15px;
    border-radius: 1rem;
    margin-top: 20px;
    margin-left: 2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

#imgCart {
    width: 15px;
    /* display: inline; */
    margin-left: 1rem;
    
}
.container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 50px auto 50px;
}


.card1 {
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    

}

.card2 {
    display: block;
    justify-content: space-between;
    background-color: white;
    
    border: 1px ;
    border-top-right-radius:1rem;
    border-bottom-right-radius: 1rem;

    margin-right: 15rem;
}

img {
    width:100%;
    height:auto;
    border-top-left-radius:1rem;
    border-bottom-left-radius: 1rem;
}

@media (min-width: 344px) {

}